.quantity-container h2 {
  border: 2px solid black;
  padding: 2px;
  margin: 2px;
  flex: 1;
  flex-basis: 40;
  text-align: center;
}

.quantity-container {
  display: flex;
  flex: 1;
}

.quantity-buttons-container {
  flex: 1;
  padding: 5px;
}
.display-buttons-container {
  display: flex;
  align-items: center;
}

.display-buttons-container h2 {
  padding: 20px 70px;
  border: 2px solid black;
  font-size: 3rem;

  flex: 1;
}

.display-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.quantity-buttons-container {
  display: flex;
  max-width: 260px;
  flex-wrap: wrap;
  flex: 2;
}

.quantity-buttons-container input {
  padding: 30px;
  font-size: large;
  font-weight: bold;
  margin: 5px;
}
#delete-key {
  padding: 20px 60px;
  margin-left: 5px;
}
#quantity-add-button:hover {
  background: rgb(230, 228, 228);
}
